<options-nav>

    <h1>Navigation</h1>
    <ul>
        <li id="nav_opt_hotkey">Hotkey</li>
        <li id="nav_opt_sounds">Sounds</li>
        <li id="nav_opt_gui">GUI</li>
    </ul>

    <script>

        var containerElement = document.getElementById("opts_main");

    </script>

</options-nav>