form,input,select {
    margin: 0;
    padding: 0;
}

form {
    margin: 10px;
    padding: 10px;
    border: 1px solid #CCC;
    background: #EEE;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}

    form > * + * {
        margin-top: 10px;
    }

    form > input {
        height: 30px;
        border: 2px solid #CCC;
        padding: 0 10px;
        outline: none;
        border-radius: 2px;
        box-shadow: 1px 1px 10px rgba(240,240,240,0.4) inset;
    }