body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

ul, li, p, h1, h2, h3, h4, h5, h6, span, b {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,010023+100 */
    background: rgb(0,0,0); /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%, rgba(1,0,35,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  rgba(0,0,0,1) 0%,rgba(1,0,35,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  rgba(0,0,0,1) 0%,rgba(1,0,35,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#010023',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    font-family: "Roboto";
}


#pixie {
	z-index: -1;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0.85;
}

nav {
    height: 50px;
    flex-shrink: 0;
    z-index: 9;
    position: relative;
}
    nav > ul {
        display: flex;
        height: inherit;
        align-items: center;
        justify-content: center;
    }
        nav > ul li {
            height: 30px;
            background: #06F;
            padding: 0 10px;
            color: #FFF;
            display: flex;
            align-items: center;
            margin-left: 10px;
            border-left: 2px solid #09F;
            border-top: 2px solid #09F;
            box-sizing: border-box;
            border-radius: 2px;
            box-shadow: 1px 1px 5px #333;
        }
            nav > ul li:hover {
                background: #09F;
                cursor: pointer;
            }

main {
    flex-grow: 1;
    display: flex;
    z-index: 8;
    position: relative;
    color: #FFF;
    margin: 0 10px;
    opacity: 0;
    transition: opacity 350ms;
}

    main.show {
        opacity: 1;
    }

    main > section#options {
        display: flex;
        flex-grow: 1;
    }
        main > section#options > options-nav {
            width: 400px;
            background: blue;
        }
        main > section#options > section#opts_main {
            flex-grow: 1;
            background: green;
        }

/* FOOTER CSS */
section.userbar {
    height: 100px;
    display: flex;
    position: relative;
    flex-shrink: 0;
    z-index: 10;
    margin: 10px;
}
    section.userbar > user {
        width: 340px;
        display: flex;
        margin-right: 10px;
    }
    section.userbar > friendsarea {
        flex-grow: 1;
        display: flex;
    }

#auth {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
    margin: 1em;
    width: 100%
}
    #auth auth-login,
    #auth auth-register {
        padding: 1em;
        margin: 1em;
        flex-basis: 20%;
    }
        #auth auth-login fieldset > *,
        #auth auth-register fieldset > * {
            display: block;
        }